.AboutMe {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: #161a1d;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.brandContainer {
  margin-left: 20px;
}

.brandTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.brandText {
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1rem;
}

.brandTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ff3636;
  margin-bottom: 0.5rem;
}

.brandText {
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 1rem;
  font-weight: 400;
  color: #ff4646;
  margin-bottom: 1rem;
}

